body {
    font-family: 'Roboto', sans-serif;
}

#number-projects-nd {
    font-size: 50px;
}

#total-donations-nd {
    font-size: 50px;
}

#projects-container {
    padding-right: 0;
}

#schools-container {
    padding-left: 0;
}

#number-schools-nd {
    font-size: 50px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

#state-choropleth g path {
    stroke: white;
    stroke-width: 1px;
}

.dc-chart .pie-slice {
    fill: #111;
    font-size: 12px;
    cursor: pointer;
}

.dc-select-menu {
    background: #33CC99;
    width: 80%;
    border: none;
    position: relative;
    height: 31px;
    font-size: 15px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 0;
}

.row {
    margin-left: -12px;
    margin-right: -12px;
}

.reset {
    float: right;
}

.navbar-buttons button{
    margin-left: 4px;
    margin-right: 4px;
}

#navbar-brand-states-combined{
    color: white;
}

#loading-data {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding-top: 80px;
    background-color: #3d4a57;
    color: white;
    text-align: center;
}

/* Bootstrap md breakpoint */
@media screen and (max-width: 992px) {
    #navbar-brand-states-combined{
        font-size: 16px;
    }
}

/* Bootstrap sm breakpoint */
@media screen and (max-width: 768px) {
    #projects-container {
        padding-right: 12px;
    }

    #schools-container {
        padding-left: 12px;
    }

    .navbar {
        height: 50px;
    }

    .container {
        height: 50px;
    }

    .pull-left {
        height: 50px;
    }

    .pull-right {
        height: 50px;
    }

    .navbar-nav {
        margin: 0;
    }
}

/* Extra Small Devices, Phones */
@media screen and (max-width : 480px) {
    #navbar-brand-states-combined {
        font-size: 14px;
    }
}