body{
   background-color: white;
}

.container-fluid {
   margin-left: 10px;
   margin-right: 10px;
}

#number-projects-nd {
   font-size: 56px;
}

#total-donations-nd {
   font-size: 56px;
}

#number-schools-nd {
   font-size: 56px;
}

.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}

#state-choropleth g path {
   stroke: white;
   stroke-width: 1px;
}

.dc-chart .pie-slice {
    fill: #111;
    font-size: 12px;
    cursor: pointer;
}

.dc-select-menu {
   background: #33CC99;
   width: 80%;
   border: none;
   position: relative;
   height: 31px;
   font-size: 15px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0;
}

.chart-wrapper{
}

.reset{
   float: right;
}